.container {
  font-family: Courier, sans-serif;
  font-weight: bold;
  font-size: 1em;
  margin: auto 0;
  text-align: center;
}

.red-button {
  background-color: red;
  color: white;
}

form {
  padding: 0.5em;
  margin: 10px;
  border: 1px black solid;
}

h1, h2 {
  font-weight: inherit;
  margin: 1em;
}

label {
  margin: 10px;
  justify-self: right;
  align-self: center;
}

input[type="number"] {
  margin: 10px;
  text-align: right;
  border: 1px solid black;
}

input:focus {
    border: 3px solid #555;
}

.red-button {
  font-weight: bold;
  padding: 0.5em;
  border: 1px solid black;
}

