body {
  font-family: Courier, sans-serif;
  font-weight: bold;
  font-size: 2em;
}

h1, h3, form {
    text-align: center;
    padding: 0.5em;
}

label {
  margin: 10px;
}

input{
  margin: 5px;
  text-align: right;
  border: 1px solid black;
}

input:focus {
    border: 3px solid #555;
}
