body {
  font-family: Courier, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.container {
  margin: auto 0;
}

.red-button {
  background-color: red;
  color: white;
}

form {
    padding: 1em;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
}

h1, h3 {
  font-weight: inherit;
  padding: 1em;
  text-align: center;
}

label {
  margin: 10px;
  grid-column: 1/2;
  justify-self: right;
  align-self: center;
}

input[type="number"] {
  margin: 5px;
  text-align: right;
  border: 1px solid black;
}

input:focus {
    border: 3px solid #555;
}

